{% extends 'base.html' %}

{% block title %}View{% endblock %}

{% block menu %}
    <li><a href="{% url 'issue_edit' issue.pk %}">EDIT</a></li>
    <li><a href="{% url 'issue_delete' issue.pk %}">DELETE</a></li>
{% endblock %}

{% block content %}
    <h1>New Issue:</h1>
    <h2>{{ issue.summary }}</h2>
    <p class="pre">{{ issue.description }}</p>
    <p>Types: {% for type in issue.types.all  %}{{ type.type_name }}{% if not forloop.last %}, {% endif %}{% endfor %}</p>
    <p>Date: {{ issue.created_at|date:'d.m.Y H:i:s' }}</p>
{% endblock %}