{% extends 'base.html' %}

{% block title %}Hi, there{% endblock %}

{% block content %}
<h1>Projects</h1>
    {% for project in projects %}
        <h3>Title: <a href="{% url 'project_detail' project.pk %}">{{ project.title }}</a></h3>
        <p>Specification: {{ project.specification }}</p>
        <p>Launch Date: {{ project.launch_date|date:'d.m.Y' }}</p>
        <p>End Date: {{ project.end_date|date:'d.m.Y' }}</p>
        <p><a href="{% url 'project_edit' project.pk %}">Edit Project</a></p>
        <p><a href="{% url 'project_delete' project.pk %}">Delete Project</a></p>
    {% endfor %}
{% endblock %}