{% extends 'base.html' %}

{% block title %}Delete{% endblock %}

{% block menu %}
    <li><a href="{% url 'issue_tracker:project_detail' project.pk %}">Cancel</a></li>
{% endblock %}

{% block content %}
    <h1>Are you sure you want to delete "{{ project.title }}"?</h1>
    <form action="{% url 'issue_tracker:project_delete' pk=project.pk %}" method="post">
        {% csrf_token %}
        <p><input type="submit" value="Yes"></p>
        <p><a href="{% url 'issue_tracker:project_detail' project.pk %}"><input type="button" value="No"></a></p>
    </form>
    <h3>Project:</h3>
    <p class="pre">{{ project.specification }}</p>
{% endblock %}